{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if categoria %}{{ categoria.nombre }}{% else %}Productos{% endif %}
{% endblock %}

{% block content %}
<div id="sidebar">
    <h3>Categorías</h3>
    <ul>
        <li {% if not categoria %}class="selected" {% endif %}>
            <a href="{% url "shop:producto_lista" %}">Todo</a>
        </li>
        {% for c in categorias %}
            <li {% if categoria.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.nombre }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="product-list">
    <h1>{% if categoria %}{{ categoria.nombre }}{% else %}Productos{% endif %}</h1>
    {% for producto in productos %}
        <div class="item">
            <a href="{{ producto.get_absolute_url }}">
                <img src="{% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static "img/no_imagen.png" %}{% endif %}">
            </a>
            <a href="{{ producto.get_absolute_url }}">{{ producto.nombre }}</a>
            <br>
            ₲{{ producto.precio }}
        </div>
    {% endfor %}
</div>
{% endblock %}